<html>
	<head>
		<title>Belajar Django</title>
	</head>

	<body>
		<div>
			<h1>
				<center>Belajar Django Beginner</center>
			</h1>

			<font>
				Nama : Mochamad Jati Seno</br>
				E-mail : mochjatiseno@gmail.com
			</font>
		</div>

		<div>
            <p>published: 9 Desember 2018, 11:40 WIB</p>
            <h2><a href="">My first post</a></h2>
            <p>Isi posting pertama, belajar dulu. Masih web html biasa</p>
        </div>

        <div>
            <p>published: 9 Desember 2018, 11:40 WIB</p>
            <h2><a href="">My second post</a></h2>
            <p>Posting kedua. juga sama</p>
        </div>
	</body>
</html>